<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<!-- <link rel="stylesheet" href='{{ "/assets/reset.css" | relative_url }}'>
	<link rel="stylesheet" href='{{ "/assets/plugins.css" | relative_url }}'>
	<link rel="stylesheet" href='{{ "/assets/style.css" | relative_url }}'> -->
	<link rel="stylesheet" href='{{ "/assets/final.css" | relative_url }}'>

	<link rel="apple-touch-icon" sizes="180x180" href='{{ "/assets/images/fav/apple-touch-icon.png" | relative_url }}'>
	<link rel="icon" type="image/png" sizes="32x32" href='{{ "/assets/images/fav/favicon-32x32.png" | relative_url }}'>
	<link rel="icon" type="image/png" sizes="16x16" href='{{ "/assets/images/fav/favicon-16x16.png" | relative_url }}'>
	<link rel="manifest" href='{{ "/assets/images/fav/manifest.json" | relative_url }}'>
	<link rel="mask-icon" href='{{ "/assets/images/fav/safari-pinned-tab.svg" color="#5bbad5" | relative_url }}'>
	<link rel="shortcut icon" href='{{ "/assets/images/fav/favicon.ico" | relative_url }}'>
	<meta name="msapplication-config" content='{{ "/assets/images/fav/browserconfig.xml" | relative_url }}'>
	<meta name="theme-color" content="#ffffff">

{% seo %}

</head>
<body>

	<div class="loader"><i class="fa fa-camera-retro fa-spin"></i></div>
	<div id="main">

		{% include menu.html %}

		<div id="wrapper">
