<header>
	<!-- Header inner  -->
	<div class="header-inner">
		<!-- Logo  -->
		<div class="logo-holder">
			<a href="{{site.url}}"><img src='{{ "/assets/images/logo_min.png" | relative_url }}' alt="Logo du site Jimmy Lefrançois Photography" title="Logo du site Jimmy Lefrançois Photography"></a>
		</div>
		<!--Logo end  -->
		<!--Navigation  -->
		<div class="nav-button-holder">
			<div class="nav-button vis-m"><span></span><span></span><span></span></div>
		</div>
<!--		<div class="show-share isShare">Share</div>-->
		<div class="nav-holder">
			<nav>
				<ul>
					<li><a href="{{site.url}}">Accueil</a></li>
					{% if page.url != '/' %}
						<li><a href="{{site.url}}/#albums">Albums</a></li>
					{% endif %}
					<!--<li>
						<a>Albums</a>
						<ul>
									{% for album in site.albums reversed | sort 'date' %}
										<li><a href="{{ album.url }}" alt="{{ album.title }}">{{ album.title }}</a></li>
									{% endfor %}
						</ul>
					</li>-->
					<!-- <li><a href="{{ site.url | append: '/live.html' }}">En live</a></li> -->
					<li><a href="{{site.url}}/contact.html">Contact</a></li>
				</ul>
			</nav>
		</div>
		<!--navigation end -->
	</div>
	<!--Header inner end  -->
</header>
