<div class="content-holder elem scale-bg2 transition3">
    <div class="content">
        <section style="padding-top: 0 !important;">

            <div class="container column-container">
                <div class="content-logo">
                    <!--  <h1>{{ site.title }}</h1>-->
<!--                    <img src="{{ "/assets/images/logo.png" | relative_url }}" alt="Logo du site Jimmy Lefrançois-->
<!--                    Photographie" title="Logo du site Jimmy Lefrançois Photographie">-->
                </div>
                <div class="separator separator-image"><img src='{{ "/assets/images/separator2.png" | relative_url }}'
                                                            alt="Separateur de contenu"></div>
                <h1 class="subtitle front">Photographies de Jimmy Lefrançois</h1>
                <h2 class="subtitle front">Photos de vie sauvage et de paysages. </h2>
                <div class="filter-holder inline-filters">
                    <div class="gallery-filters">
                        <a href="#" class="gallery-filter gallery-filter-active" data-filter="*">Tout</a>
                        {% for tag in site.data.tags %}
                        <a href="" class="gallery-filter" data-filter=".{{ tag.label }}">{{ tag.label }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>


        <section id="sec1">
            <div class="container column-container">
                <div class="row">
                    <!--  project images -->
                    <div class="gallery-items vertical-gallery popup-gallery four-columns-box random-gallery">
                        {% for photo in site.photos %}
                            {% assign sorted_photos = photo.photos | sort: 'date' %}
                            {% for photoPath in sorted_photos reversed %}
                            <div class="gallery-item {{ photoPath.tag1 }} {{ photoPath.tag2 }} {{ photoPath.tag3 }}">
                                <a href="photos/photos/max/{{ photoPath.path}}" alt="{{ photoPath.alt }}" data-index="{{ forloop.index }}"
                                title="{{ photoPath.description }}">
                                    <img src="photos/photos/min/{{ photoPath.path}}" class="respimg" alt="{{ photoPath.alt }}"
                                        title="{{ photoPath.description }}">
                                </a>
                            </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
