{% include header.html %}

 <div class="content-holder elem scale-bg2 transition3" >
    <!-- Fixed title-->
    <div class="fixed-title"><span>{{ page.title }}</span></div>
    <!-- Page navigation-->
    <!--=============== Content  ===============-->
    <div class="content">
        <!-- Page title section -->
        <section class="parallax-section">
            <div class="overlay"></div>
            <div class="bg" style="background-image:url('photos/cover.jpg')" data-top-bottom="transform: translateY(200px);" data-bottom-top="transform: translateY(-200px);"></div>
            <div class="container">
                <h1>{{ page.title }}</h1>
                <div class="separator-image"><img src='{{ "/assets/images/separator.png" | relative_url }}' alt=""></div>
                <h2 class="subtitle">{{ page.description_album }}</h2>
            </div>
            <a class="custom-scroll-link sect-scroll" href="#sec1"><i class="fa fa-angle-double-down"></i></a>
        </section>
        <!-- Page title section end-->
        <div class="sections-bg"></div>
        <!--  project  -->
        <section id="sec1">
            <div class="container column-container">
                <div class="row">
                    <!--  project images -->
                    <div class="col-md-7">

                        <div class="vertical-gallery popup-gallery two-columns-box">
                            {% for photo in page.photos %}
                                <div class="box-item">
                                    <a href="photos/max/{{ photo.path}}" title="{{ photo.description }}">
                                    <img src="photos/min/{{ photo.path}}" class="respimg" alt="{{ photo.alt }}">
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                        <!--  project navigation end -->
                    </div>
                    <!--  project images end -->
                    <!--  project details  -->
                    <div class="col-md-5">
                        <div class="fix-box">
                            <div class="project-box">
                                <h3>Details</h3>
                                <p>{{ page.details }}</p>
                            </div>
                            <div class="project-box">
                                <h3>Infos</h3>
                                <ul class="project-details">
                                    <li>
                                        <i class="fa fa-bicycle"></i>
                                        <div class="pd-holder">
                                            <h5>Category :  <a href="#">{{ page.tag1 }} </a> <a href="#">{{ page.tag2 }}</a></h5>
                                        </div>
                                    </li>
                                    <li>
                                        <i class="fa fa-calendar"></i>
                                        <div class="pd-holder">
                                            <h5>Date :  <a href="#">{{ page.datephoto }}</a></h5>
                                        </div>
                                    </li>
                                    <li>
                                        <i class="fa fa-map-o"></i>
                                        <div class="pd-holder">
                                            <h5>Location :  <a href="#">{{ page.location }}</a></h5>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Content end  -->
    <!-- Share container  -->
</div>



{% include footer.html %}
