{% include header.html %}

<div class="row">
	<div class="cover col-md-12">
		<div class="bg" style="background-image:url('cover.jpg')">
			<h1 class="text-center">{{ page.label }}</h1>
			<h2 class="text-center">{{ page.description }}</h2>
		</div>
	</div>
</div>

<div class="row">

	<div class="col-md-7">

	</div>

	<div class="col-md-5 details">
		<h3>Détails</h3>
		<p>
			Nam nisl enim, sagittis pharetra accumsan pretium, volutpat sed risus. Vivamus hendrerit tellus libero, eu euismod felis malesuada quis. Sed magna lacus, interdum ac elit eu, sodales posuere magna. Nulla facilisi. Duis lorem urna, porta gravida erat nec, venenatis placerat nisl. Donec quis arcu convallis, vestibulum nibh quis, pharetra mauris. Nunc porta et justo eu suscipit. Cras posuere orci sit amet nisi euismod maximus. Maecenas neque dui, mattis ut nulla et, commodo ullamcorper odio. Nullam nec sagittis dui. Nullam nibh lacus, pretium sit amet metus a, imperdiet faucibus magna.
		</p>
	</div>

</div>



{% include footer.html %}
