{% include header.html %}

<!--=============== Conten holder  ===============-->
<div class="content-holder elem scale-bg2 transition3" >
	<!--  Page title    -->
	<div class="fixed-title"><span>Contacts</span></div>
	<!--  Page title end   -->
	<!--  Page navigation   -->
	<div class="scroll-page-nav">
		<ul>
			<li><a  href="#sec1"></a></li>
			<li><a  href="#sec2"></a></li>
			<li><a  href="#sec3"></a></li>
		</ul>
	</div>
	<!--  Page navigation  end -->
	<div class="content full-height">
		<!--  Page title section   -->
		<section class="parallax-section">
			<div class="overlay"></div>
			<div class="bg" style='background-image:url({{"/assets/images/contact_cover.jpg" | relative_url }})' data-top-bottom="transform: translateY(200px);" data-bottom-top="transform: translateY(-200px);"></div>
			<div class="container">
				<h2>Contact</h2>
				<div class="separator"></div>
				<!-- <h3 class="subtitle">Suivez-moi sur Facebook, Instagram ou contactez-moi par e-mail ! </h3> -->
				<ul class="contact-list no-dec subtitle">
							<li><span>Contactez-moi par e-mail : </span><a href="mailto:{{  site.email }}">{{  site.email }}</a></li>
							<li><span>Ou rejoignez-moi sur <a href="{{ site.facebook }}" target="_blank" title="Facebook">Facebook</a> et <a href="{{ site.instagram }}" target="_blank" title="Instagram">Instagram</a></span></li>
						</ul>
			</div>
		</section>
		<!--  Page title section end  -->
		<!--  Section contact info   -->
		<!-- <section class="section-columns" id="sec1">
			<div class="section-columns-img">
				<div class="bg" style='background-image:url({{"/assets/images/contact_min.jpg" | relative_url }})' ></div>
			</div>
			<div class="section-columns-text">
				<div class="custom-inner">
					<div class="container">
						<h2>Gardons contact</h2>
						<div class="separator"></div>
						<div class="clearfix"></div>
						<ul class="contact-list no-dec">
							<li><span>Contactez-moi par e-mail : </span><a href="mailto:{{  site.email }}">{{  site.email }}</a></li>
							<li><span>Rejoignez-moi sur <a href="{{ site.facebook }}" target="_blank" title="Facebook">Facebook</a> et <a href="{{ site.instagram }}" target="_blank" title="Instagram">Instagram</a></span></li>
						</ul>
					</div>
				</div>
			</div>
		</section> -->
	</div>
	<!-- Content end  -->
	<!-- Share container  -->
</div>
<!-- content holder end -->

{% include footer.html %}
