{% include header.html %}

 <div class="content-holder elem scale-bg2 transition3" >
    <!-- Fixed title-->
    <div class="fixed-title"><span>INSTAGRAM</span></div>
    <!-- Page navigation-->
    <!--=============== Content  ===============-->
    <div class="content">
        <section class="parallax-section">
           <div class="container">
                <h1>INSTAGRAM</h1>
                <div class="separator-image"><img src='{{ "/assets/images/separator.png" | relative_url }}' alt=""></div>
                <h2 class="subtitle">En direct sur Instagram ! :)</h2>
            </div>
            <a class="custom-scroll-link sect-scroll" href="#sec1"><i class="fa fa-angle-double-down"></i></a>
        </section>
        <!-- Page title section -->
        <script src="https://snapwidget.com/js/snapwidget.js"></script>
        <iframe src="https://snapwidget.com/embed/383379" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>

    </div>
    <!-- Content end  -->
    <!-- Share container  -->
</div>



{% include footer.html %}
